.collaborator-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  margin-bottom: $spacing * 4;
}

$collaborator-line-height: 28px;

.collaborator {
  $dot-size: 9px;

  position: relative;
  padding-left: $dot-size + 8px;
  line-height: $collaborator-line-height;

  &.active, &.self {
    &:before {
      content: "";
      display: block;
      float: left;
      width: $dot-size;
      height: $dot-size;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      padding: 0 4px;
      line-height: 18px;
      border-radius: 2px;
      position: absolute;
      right: 0;
      background: $grey;
      color: #fff;
    }
  }

  &.active {
    &:before, &:after { background: $pink; }
    &:after { content: "Here"; }
  }

  &.self {
    cursor: pointer;

    &:before, &:after { background: $green; }
    &:after { content: "You"; }
  }

  &.inactive { opacity: 0.5; }
}

.collaborator .alias-input {
  line-height: $collaborator-line-height;
  height: $collaborator-line-height;
  display: inline-block;

  input[type=text] {
    height: $collaborator-line-height;
    padding: 0 8px;
    box-sizing: border-box;
    font-family: Inconsolata;
    font-size: 16px;
    display: inline-block;
    border: 1px solid $grey;
    outline: none;
    border-radius: 2px;
  }

  button { display: none; }
}
