.document-editor-container {
  background: $dark-1;
  padding: ($spacing * 3) 0;
  width: 61.8%;
  min-height: 100vh;
  float: left;
  box-sizing: border-box;

  [contenteditable] { outline: none; }
}

.document-editor {
  background: $dark-2;
  padding: $spacing;
  color: #fff;
  position: relative;
}

.editor-shadow, .document-editor-content {
  display: inline-block;
  width: 100%;
}

.document-editor-inner {
  position: relative;
}

.editor-shadow {
  z-index: 2;
  color: rgba(0, 0, 0, 0%);
  position: absolute;
  top: 0;
  pointer-events: none;
}

.document-editor-content {
  display: inline-block;
  width: 100%;
  z-index: 1;
  position: relative;
}

@import "editor/_collaborators";
@import "editor/_line_numbers";
@import "editor/_carets";
@import "themes/monokai";
